.main-content {
  position: relative;
  z-index: 0;
}

.get-credit {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.get-credit__wrap {
  padding: 85px 0;
  background-image: url(../img/MainContent/banner.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: initial;
}

.get-credit__headline {
  font-size: 52px;
  line-height: 57px;
  font-weight: 600;

  margin: 0;
  padding: 0;

  color: #000000;

  margin-bottom: 65px;
}

.get-credit__headline span {
  color: #3a95ff;
}

.offer-buttons {
  width: 440px;
  height: auto;

  display: flex;
  justify-content: space-between;
}

.best-offers .container {
  padding: 70px 10px 110px;
}

.best-offers__headline {
  margin: 0;
  margin-bottom: 25px;

  font-size: 40px;
  line-height: 49px;

  color: #000000;
}

.best-offers__slogan {
  margin: 0;
  margin-bottom: 70px;

  color: #000000;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.best-offres__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}

.best-offers__item {
  width: 555px;
  height: 300px;

  background: #eff2f5;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  padding: 35px;

  background-repeat: no-repeat;
  background-position: right;
  background-size: initial;
}

.best-offers__item--mortgage {
  background-image: url(../img/MainContent/mortgage-keys.png);
}
.best-offers__item--piggy {
  background-image: url(../img/MainContent/mortgage-piggy.png);
}
.best-offers__item--personal-cards {
  background-image: url(../img/MainContent/personal-cards.png);
}
.best-offers__item--partner {
  background-image: url(../img/MainContent/partner.png);
}

.best-offers__item h3 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 26px;
  font-weight: 600;
  line-height: 34px;

  color: #212121;
}

.best-offers__item p {
  margin: 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.best-offers__wrap {
  width: 280px;
}

.best-offers__link {
  text-decoration: none;
  color: #212121;
}
.best-offers__link:focus,
.best-offers__link:hover{
  text-decoration: underline;
}

.cards-offer {
  color: #212121;
  background-color: #eff2f5;

  padding: 140px 0;
}

.cards-offer .container {
  display: flex;
  justify-content: space-between;
}

.credit-card-offer {
  width: 750px;
  height: auto;

  padding: 40px 100px;

  background-color: #e0e5ea;
  box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25), 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  background-image: url(../img/MainContent/60-days-card.png);
  background-repeat: no-repeat;
  background-size: initial;
  background-position-x: right;
  background-position-y: top;
}

.credit-card-offer__headline {
  margin: 0;
  margin-bottom: 85px;

  font-size: 38px;
  font-weight: 600;
  line-height: 49px;
}

.credit-card-offer__terms {
  margin-bottom: 40px;
}

.card-terms {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.card-terms__line {
  display: flex;
  justify-content: space-between;
}

.card-terms__cell {
  padding: 0;
  text-align: center;

  width: 157px;
  height: auto;
}

.card-terms__term {
  font-size: 30px;
  font-weight: 500;
  line-height: 39px;

  border-bottom: 1px solid #3a95ff;

  padding-bottom: 6px;
}

.card-terms__term-name {
  padding-top: 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;

  color: #424242;
}

.cards-offer__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-offer__options-item {
  background-color: #f7f7f7;
  box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25), 5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border-bottom: 5px solid #3a95ff;

  padding: 34px 34px 29px 34px;

  width: 360px;
  height: 235px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 30px;
}

.cards-offer__options-item:last-child {
  margin-bottom: 0;
}

.cards-offer__headline {
  margin: 0;

  font-size: 26px;
  font-weight: 600;
  line-height: 34px;

  color: #242424;
}

.cards-offer__link {
  display: block;
  margin-left: auto;
}

.get-card {
  padding: 70px 0px 110px;
}

.get-card__headline {
  font-size: 40px;

  font-weight: 600;
  line-height: 49px;

  color: #212121;

  margin: 0;
  margin-bottom: 70px;
}

.get-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.get-card__item{
  max-width: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.get-card__item::after{
  content: "";

  position: absolute;

  top: calc(50% - 9px);
  right: -140px;

  width: 19px;
  height: 36px;

  background-image: url(../img/MainContent/Vector.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.get-card__item:last-child::after{
  display: none;
}

.get-card__icon {
  width: 82px;
  height: 82px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 25px;
}

.get-card__text {
  margin: 0;



  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;

  color: #212121;
}
