*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color: #595959;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1160px;
  padding: 0 10px;

  margin: 0 auto;
}

.hidden {
  display: none;
}

.button{
  display: block;

  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;

  padding: 17px 25px;

  border-radius: 3px;

  border: 1px solid #3A95FF;

  width: 200px;

  background-color: transparent;
  color: #3A95FF;

  cursor: pointer;
}

.button--get{
  background-color: #3A95FF;
  color: #ffffff;
}
